html
  meta(name='viewport' content='width=device-width, user-scalable=no')

  block styles
    link(rel='stylesheet' href='docs/vendor.css')
    link(rel='stylesheet' href='dist/mn-password.css')

  style.
    mn-password {
      font-size: 1.2rem;
    }

    form {width: 100%}

    @media (min-width: 600px) {
      form {
        padding: 100px;
        box-sizing: border-box;
      }
    }
body
  h2 mn-password
  include github-corner

  .mn-layout-fullscreen.mn-layout-centered
    .mn-layout-container
      mn-form.mn-layout-column.mn-layout-sm-row
        mn-password.flex#password(placeholder='password')
        mn-password.flex#confirm-password(placeholder='confirm password')
        //- button.mn-button submit

  .docs.mn-layout-container
    mn-code.sh.
      npm install --save mn-password

    p And bundle dependencies and main files in <strong>dist/</strong> with your preferred tool.

    h3 usage

    p in your html, you can use the tag <strong class="tag">mn-password</strong> i.e.
    mn-code.html.
      <mn-password placeholder="Password"></mn-password>

    p Other attributes are supported, like:

    ul
      li: a(href='http://www.w3schools.com/tags/att_input_placeholder.asp') placeholder
      li: a(href='http://www.w3schools.com/tags/att_input_value.asp') value
      li: a(href='http://www.w3schools.com/tags/att_input_name.asp') name
      li: a(href='http://www.w3schools.com/tags/att_input_autofocus.asp') autofocus
      li: a(href='http://www.w3schools.com/tags/att_input_maxlength.asp') maxlength
      li: a(href='http://www.w3schools.com/tags/att_input_pattern.asp') pattern
      li: a(href='http://www.w3schools.com/tags/att_input_required.asp') required
      li: a(href='http://www.w3schools.com/tags/att_input_disabled.asp') disabled
      li: a(href='https://developers.google.com/web/updates/2015/04/autocapitalize') autocapitalize

  block scripts
    script(src='docs/vendor.js')
    script(src='dist/mn-password.js')
